<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .littlefoot-footnote__button {
        background-color: white;
        cursor: pointer;
        padding: 0;
        border: 0;
        color: blue;
      }

      .littlefoot-footnote__wrapper {
        position: absolute;
        top: 20px;
        left: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid black;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <!-- Links -->
    <sup id="fnref:1">
      <a href="#fn:1" rel="footnote"></a>
    </sup>
    <sup id="fnref:2">
      <a href="#fn:2" rel="footnote"></a>
    </sup>

    Magna ullamco nostrud pariatur do ea duis velit anim in. Sint laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat
    ex proident mollit qui in sint ipsum. Sit consequat esse cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do
    eiusmod pariatur laborum laborum. Cillum excepteur reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim
    irure dolore proident sit adipisicing. Nostrud excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et.
    Ipsum duis tempor fugiat reprehenderit exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur
    nulla adipisicing sit irure exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum.
    Consequat do occaecat deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure
    pariatur commodo id ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna
    nostrud irure reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor
    laboris quis eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis
    reprehenderit ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum
    consequat excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in.
    Sint laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in. Sint
    laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in. Sint
    laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in. Sint
    laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in. Sint
    laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in. Sint
    laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in. Sint
    laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet. Magna ullamco nostrud pariatur do ea duis velit anim in. Sint
    laboris anim dolore id commodo eiusmod occaecat qui qui. Ex adipisicing nulla fugiat ex proident mollit qui in sint ipsum. Sit consequat esse
    cillum officia. Commodo aliqua enim exercitation excepteur sunt. Duis sunt adipisicing do eiusmod pariatur laborum laborum. Cillum excepteur
    reprehenderit qui minim Lorem. Incididunt non ex aute nisi incididunt consequat consequat anim irure dolore proident sit adipisicing. Nostrud
    excepteur eiusmod ipsum sit consequat pariatur nulla qui qui consequat occaecat consectetur ex et. Ipsum duis tempor fugiat reprehenderit
    exercitation fugiat excepteur labore fugiat sint laborum. Nisi dolore nisi ad sit. Do tempor ex consectetur nulla adipisicing sit irure
    exercitation fugiat adipisicing ipsum. Lorem do magna exercitation cillum aute sunt duis amet officia culpa laborum. Consequat do occaecat
    deserunt excepteur dolor. Consequat sint do veniam laborum est deserunt incididunt ex nulla commodo. Ad dolor qui irure pariatur commodo id
    ullamco. Lorem quis anim proident reprehenderit excepteur. Minim sit occaecat qui fugiat consectetur. Sunt consequat magna nostrud irure
    reprehenderit enim mollit mollit dolore ad. Amet sint aute incididunt eiusmod Lorem proident ullamco voluptate est duis tempor laboris quis
    eiusmod. Duis proident eiusmod esse incididunt est anim irure quis labore est amet pariatur. Eiusmod anim id sunt laboris culpa quis reprehenderit
    ut sit. Exercitation aute voluptate duis velit quis aliquip velit consequat culpa. Labore dolore pariatur nulla sint eu laborum consequat
    excepteur aliqua ea. Minim ex velit ea pariatur Lorem aliquip et minim id amet.

    <!-- Footnote List -->
    <li class="footnote" id="fn:1">footnote. <a href="#fnref:1" title="return to article"> ↩</a></li>
    <li class="footnote" id="fn:2">footnote2. <a href="#fnref:2" title="return to article"> ↩</a></li>

    <script src="https://unpkg.com/littlefoot/dist/littlefoot.min.js" type="application/javascript"></script>
    <script type="application/javascript">
      littlefoot.default({
        activateOnHover: false,
        hoverDelay: 250,
        buttonTemplate: `<button
        aria-controls="fncontent:<%= id %>"
        aria-expanded="false"
        aria-label="Footnote <%= number %>"
        class="littlefoot-footnote__button"
        id="<%= reference %>"
        rel="footnote"
        title="See Footnote <%= number %>"
      />
        <%= number %>
      </button>`
      });
    </script>
  </body>
</html>
